body {
  background: #dc9c8079;
  margin: 30px auto;
  max-width: 60%;
}

header {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  color: #e8554d;
}

footer {
  color: white;
}

a {
  color: white;
}
