.Dictionary h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #e8554d;
}

.Dictionary section {
  background-color: white;
  margin: 12px 0;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.Dictionary input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  color: #333;
}

.Dictionary .hint {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.7;
}
