.Meaning .parts {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.5;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px;
  max-width: min-content;
}

.Meaning .definition {
  font-size: 14px;
  margin-top: 20px;
  line-height: 1.5;
}
